@import url("https://fonts.googleapis.com/css?family=Architects+Daughter|Cutive+Mono&display=swap");

* {
  font-family: "Cutive Mono", monospace;
}

/* MAINNAV CSS */
.logo {
  font-family: "Architects Daughter", cursive;
}
/* SHOES CSS */
.shoe-card {
  height: 10%;
  /* border: 1px solid gray; */
}
.bg {
  background: #fff;
}
.imgClass {
  background: url(./components/shop/white-addidas.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  width: 300px;
  color: #fff;
}
.imgClass:hover {
}
