@import url("https://fonts.googleapis.com/css?family=Architects+Daughter|Cutive+Mono&display=swap");

* {
  font-family: "Cutive Mono", monospace;
}

/* MAINNAV CSS */
.logo {
  font-family: "Architects Daughter", cursive;
}
/* SHOES CSS */
.shoe-card {
  border: 1px solid gray;
  margin: 10px;
}
